@keyframes loading {
    0% {
        color: #99e2d0;
    }
    60% {
        color: rgb(255, 255, 255);     
    }

    100% {
        color: rgb(0, 0, 0);       
    }
}

@keyframes loader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}



@keyframes foody {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes foody1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes foody2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0px);
    }
}
