@keyframes laoding {
    0% {
        background-color: white;
    }
    10% {
        background-color: rgb(141, 9, 55);
    }
    20% {
        background-color: rgb(23, 163, 16);
    }
    50% {
        background-color: rgb(31, 103, 145);
    } 
    70% {
        background-color: rgb(176, 176, 19);
    }
    100% {
        background-color: rgb(44, 5, 65);
    }
    
}