@keyframes loading {
    0% {
        color: #99e2d0;
        // transform:translateY(0px);
    }
    60% {
        color: rgb(255, 255, 255);
        // transform: translateY(10px);
    }
   
      100% {
        color: rgb(0, 0, 0);
        // transform: translateY(0px);
          
      }
     
      
    
}

@keyframes loader{
  from{
   opacity: 1;

  }
  to{
   opacity: 0;  
   z-index: -1;
  }
  
}