@mixin under-nav-shadow{
  box-shadow: 3px 3px 3px #d0d0d0;

}

@mixin button {
  
        background: linear-gradient($pinkbutton,$violetbutton);
        width: 200px;
				border-radius: 25px;
        height: 50px;
        border: none;
        color: white;
       
}

@mixin card-fuctioning {
  display: flex;
  justify-content: center;
  background-color: $backgroundgrey;
  width: 90%;
  border-radius: 15px;
  height: 40px;
  border: none;
  font-size: 0.9rem;
  padding-top: 25px;
}