@mixin under-nav-shadow{
  box-shadow:  $backgroundshadow ;

}

@mixin button {
  text-align: center;
  text-decoration: none;
  background: linear-gradient($pinkbutton,$violetbutton);
  width: 220px;
	border-radius: 35px;
  height: 50px;
  border: none;
  color: white;
  align-items: center;


       
}
@mixin titleSection{
  margin: 40px 200px 20px 0px;
  font-size: 1.2rem;
  
  
}

@mixin card-fuctioning {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $backgroundgrey;
  width: 290px;
  border-radius: 15px;
  height: 70px;
  border: none;
  font-size: 0.9rem;
  margin: 10px;
}

