$violetbutton:#9356dc;
$pinkbutton:#FF79DA;
$tcheckbutton:#99e2d0;


$backgroundgrey :#f6f6f6;
$backgroundinputgrey :#eaeaea;
$backgroundshadow :3px 3px 3px #d0d0d0;
$backgroundwhite: white;
$fontAwarsomeIcon:#7e7e7e;
$backgroundfooter:#353535;

$fontTitle: 'Roboto', sans-serif;
$fontText:  'Shrikhand', cursive;