@import '_var';
@import '_mixin';
@import '_animation';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: $fontTitle;
}
// HEADER

.header {
    &__navbar {
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        @media (min-width: 768px) {
            display: flex;
            justify-content: flex-start;
            gap: 30%;
            // justify-content: center;
        }
        @media (min-width: 1440px) {
            gap: 40%;
        }
        a {
            text-decoration: none;
            padding-right: 10px;
            padding-left: 20px;
            width: 20%;
            font-size: 20px;
            .fa-arrow-left {
                display: flex;
                color: black;
            }
            @media (min-width: 768px) {
                width: 5%;
            }
        }
        img {
            width: 170px;
        }
    }
}
// HEADER END

// MAIN

.main {
    // background-color: $backgroundgrey;
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    img {
        width: 100%;
        height: 400px;
        @media (min-width: 768px) {
            height: 500px;
            object-fit: cover;
        }
    }
    &__cardMenu {
        display: flex;
        position: relative;
        bottom: 50px;
        padding: 10px;
        // justify-content: center;
        flex-wrap: wrap;
        background-color: $backgroundgrey;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            width: 70%;
            position: relative;
            bottom: 30px;
        }
        &__title {
            font-family: $fontText;
            font-size: 1.6rem;
            font-weight: 400;
            padding-top: 40px;
        }
        .btn-heart {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            border: none;
            background-color: transparent;
            .fa-heart {
                padding-left: 20px;
                padding-top: 40px;
                align-items: center;
                font-size: 25px;
            }
            &:active {
                .empty-heart {
                    opacity: 1;
                }
                .full-heart {
                    opacity: 1;
                }
            }
            .empty-heart {
                display: flex;
                justify-content: center;
                font-size: 25px;
                color: black;
                position: absolute;
            }
            .full-heart {
                font-size: 25px;
                opacity: 0;
                z-index: 2;
                
                //  transition: 1000ms;
                background: linear-gradient($pinkbutton, $violetbutton);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .section-contents {
            width: 100%;
            @media (min-width: 768px) {
                padding-left: 15%;
                padding-right: 15%;
            }
            &__text {
                border-bottom: 3px solid $tcheckbutton;
                height: 20px;
                width: 40px;
                margin-top: 40px;
                margin-bottom: 10px;
               
            }
            &__menus {
                display: flex;
                height: 60px;
                flex-wrap: wrap;
                align-items: center;
                background-color: $backgroundwhite;
                border-radius: 15px;
                padding: 10px;
                margin-bottom: 15px;
                @include under-nav-shadow;

                .menu-title {
                    font-size: 1rem;
                    width: 70%;
                    background-color: aquamarine;
                }
                .menu-text {
                    width: 70%;
                    font-size: 0.9rem;
                    margin-top: 4px;
                    background-color: violet;

                }
                .empty {
                    width: 10%;
                    
                }
                .price {
                    width: 100%;
                    font-weight: 600;
                    display: flex;
                    justify-content: flex-end;
                    background-color: rgb(227, 133, 93);

                }
                .check{
                    width: 30%;
                    background-color: $tcheckbutton;
                    display: flex;
                    justify-content: center;
                    
                    .fa-check{
                        
                            width: 20px;
                            height: 20px;
                            background-color: $backgroundwhite;
                            border-radius: 15px;
                            color:$tcheckbutton ;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                }
                
            }
        }
        .btn {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;
            
            
            &__order {
                @include button;
                @include under-nav-shadow;
                transition-property: transform;
                transition-duration: 1000ms;
            &:hover{
                transform: scale(0.98);
                box-shadow: rgba(67, 67, 67, 0.35) 0px 5px 15px;            
            }
            }
        }
    }
}
// MAIN END
// FOOTER

.footer {
    background-color: $backgroundfooter;
    height: auto;
    margin-top: -50px;
    @media (min-width: 728px) {
        display: flex;
        height: 100px;
        flex-direction: row-reverse;
        margin-top: -28px;
    }

    &__logo {
        margin: 10px 15px;
        @media (min-width: 728px) {
            width: 100px;
            margin-top: 60px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        color: $backgroundwhite;
        margin: 0px 10px;
        font-size: 15px;
        @media (min-width: 728px) {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            align-items: end;
        }
    }

    li {
        margin: 10px;
        @media (min-width: 728px) {
            display: flex;
        }
        .link-text {
            text-decoration: none;
            color: $backgroundwhite;
            padding: 10px;
        }
    }
    .fa-utensils {
        margin-left: 5px;
        @media (min-width: 728px) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
    .fa-handshake-angle {
        @media (min-width: 728px) {
            display: flex;
            align-items: center;
        }
    }
}
