/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.header__navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 3px;
  box-shadow: 3px 3px 3px #d0d0d0;
}
@media (min-width: 320px) {
  .header__navbar img {
    width: 170px;
    margin-bottom: 20px;
  }
}
.header__search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
}
.header__search .fa-location-dot {
  margin-left: 80px;
  margin-top: 20px;
}
.header__search input {
  border: none;
  margin: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: #eaeaea;
}

.mainRestaurant {
  background-color: #f6f6f6;
}
.mainRestaurant .textUnderNav {
  height: 220px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainRestaurant .textUnderNav h1 {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 20px;
}
.mainRestaurant .textUnderNav .text {
  text-align: center;
}
.mainRestaurant .textUnderNav .btn {
  background: linear-gradient(#FF79DA, #9356dc);
  width: 200px;
  border-radius: 25px;
  height: 50px;
  border: none;
  color: white;
  box-shadow: 3px 3px 3px #d0d0d0;
}

.functioning {
  background-color: white;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.functioning .titleSection {
  margin: 40px 200px 20px 0px;
  font-size: 1.2rem;
  margin-left: 40px;
}
.functioning .card-fuctioning {
  margin: 10px;
  box-shadow: 3px 3px 3px #d0d0d0;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  width: 90%;
  border-radius: 15px;
  height: 40px;
  border: none;
  font-size: 0.9rem;
  padding-top: 25px;
}
.functioning span {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  border-radius: 20px;
  color: white;
  margin: 0px;
}
.functioning .fa-solid {
  color: #7e7e7e;
  font-size: 18px;
  margin: 0 20px;
}
.functioning .fa-solid:hover {
  color: #9356dc;
}

.cards-restaurant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards-restaurant .titleSection {
  margin: 40px 200px 20px 0px;
  font-size: 1.2rem;
}
.cards-restaurant .cardsMenu {
  width: 90%;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
}
.cards-restaurant .cardsMenu img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cards-restaurant .cardsMenu .titles-cards {
  padding-left: 10px;
}
.cards-restaurant .cardsMenu .text-cards {
  padding-left: 10px;
}/*# sourceMappingURL=main.css.map */