@keyframes laoding {
  0% {
    background-color: white;
  }
  10% {
    background-color: rgb(141, 9, 55);
  }
  20% {
    background-color: rgb(23, 163, 16);
  }
  50% {
    background-color: rgb(31, 103, 145);
  }
  70% {
    background-color: rgb(176, 176, 19);
  }
  100% {
    background-color: rgb(44, 5, 65);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.container-loading {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
}

.loading {
  width: 300px;
  height: 300px;
  animation-name: laoding;
  animation-duration: 3000ms;
  border-radius: 150px;
  animation-iteration-count: infinite;
  background-color: white;
  margin-top: 30px;
}

.header__navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 3px;
  box-shadow: 3px 3px 3px #d0d0d0;
}
.header__navbar img {
  width: 170px;
  margin-bottom: 20px;
}
.header__search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
}
.header__search .fa-location-dot {
  margin-left: 80px;
  margin-top: 20px;
}
.header__search input {
  border: none;
  margin: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: #eaeaea;
}

.mainRestaurant {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.mainRestaurant .textUnderNav {
  height: 220px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainRestaurant .textUnderNav h1 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20px;
  font-weight: 900;
}
.mainRestaurant .textUnderNav .text {
  text-align: center;
}
.mainRestaurant .textUnderNav .btn {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356dc);
  width: 220px;
  border-radius: 35px;
  height: 50px;
  border: none;
  color: white;
  align-items: center;
  box-shadow: 3px 3px 3px #d0d0d0;
}
@media (min-width: 768px) {
  .mainRestaurant .textUnderNav {
    display: flex;
    justify-content: center;
  }
  .mainRestaurant .textUnderNav h1 {
    font-size: 2.1rem;
  }
  .mainRestaurant .textUnderNav .text {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .mainRestaurant .textUnderNav h1 {
    font-size: 2.5rem;
  }
}

.functioning {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.functioning .titleSection {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  font-size: 1.3rem;
  margin-left: 10px;
}
@media (min-width: 728px) {
  .functioning .titleSection {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .functioning .titleSection {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
  }
}
.functioning .card-fuctioning {
  box-shadow: 3px 3px 3px #d0d0d0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  width: 290px;
  border-radius: 15px;
  height: 70px;
  border: none;
  font-size: 0.9rem;
  margin: 10px;
}
@media (min-width: 728px) {
  .functioning .card-fuctioning {
    width: 30%;
  }
}
.functioning span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  border-radius: 20px;
  color: white;
  margin: 0px;
  position: relative;
  right: 10px;
}
.functioning .fa-solid {
  color: #7e7e7e;
  font-size: 18px;
  margin: 0 20px;
}
.functioning .fa-solid:hover {
  color: #9356dc;
}
@media (min-width: 728px) {
  .functioning .fa-solid {
    margin-left: 5px;
  }
}

.cards-restaurant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .cards-restaurant {
    gap: 50px;
  }
}
.cards-restaurant a {
  color: black;
  text-decoration: none;
}
.cards-restaurant .titleSection {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  font-size: 1.3rem;
  padding-bottom: 40px;
  margin-left: 0px;
}
@media (min-width: 768px) {
  .cards-restaurant .titleSection {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .cards-restaurant .titleSection {
    font-size: 1.5rem;
  }
}
.cards-restaurant .cardsMenu {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .cards-restaurant .cardsMenu {
    width: calc(50% - 50px);
    margin-bottom: 20px;
  }
}
.cards-restaurant .cardsMenu img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-restaurant .cardsMenu .new {
  display: block;
  padding: 10px;
  background-color: #99e2d0;
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 2px;
  font-size: 0.7rem;
  color: #278870;
  font-weight: 600;
}
.cards-restaurant .cardsMenu .text-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}
.cards-restaurant .cardsMenu .text-contents .titles-cards {
  padding-left: 10px;
  width: 60%;
}
.cards-restaurant .cardsMenu .text-contents .text-cards {
  padding-left: 10px;
  width: 60%;
  margin-top: 10px;
}
.cards-restaurant .cardsMenu .text-contents .btn-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 30%;
  border: none;
  background-color: transparent;
}
.cards-restaurant .cardsMenu .text-contents .btn-heart .fa-heart {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.footer {
  background-color: #353535;
  height: auto;
}
@media (min-width: 728px) {
  .footer {
    display: flex;
    height: 100px;
    flex-direction: row-reverse;
  }
}
.footer__logo {
  margin: 10px 15px;
}
@media (min-width: 728px) {
  .footer__logo {
    width: 100px;
    margin-top: 60px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0px 10px;
  font-size: 15px;
}
@media (min-width: 728px) {
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: end;
  }
}
.footer li {
  margin: 10px;
}
@media (min-width: 728px) {
  .footer li {
    display: flex;
  }
}
.footer li .link-text {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer .fa-utensils {
  margin-left: 5px;
}
@media (min-width: 728px) {
  .footer .fa-utensils {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 728px) {
  .footer .fa-handshake-angle {
    display: flex;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */