/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}


/* Moi modification  */

/* Nav */

.logoNav{
    height: 20px;
    margin-top: 30px;
}

.logoMenu{
    display: flex;
    justify-content:space-between;
}

.navigation{
    height: 100px;      
}

.navigation .logoNav{
    height: 20px;   
}

.menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;    
}

.linkNav{
    text-decoration: none;
    color: black;
}

.linkNav:hover{
    color: var(--main-color);
}

.navigation .space{ 
    margin-left: 20px;
    display: block;
    padding-top: 20px;
    border-top: 3px solid transparent;    
}
    
.navigation .space:hover{
    color:var(--main-color) ;
    border-top: 3px solid var(--main-color) ; 
}

.filtreButtons .inlinebtn{
    display: inline;
} 
/******* Nav fin*************/


/********* Section sous la nav *********/

/** titre et sous-titre **/

.txtHeberg{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/** titre et sous-titre fin **/

/** input rechercher **/

.localisation{
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    background-color:var(--main-bg-color) ;
    border-radius: 10px;   
}

.locIcon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    color: black;
    border: none;
}

.fa-location-dot{
    color: black;
}

input{
    border: none;  
    outline:  none; 
    margin: 1px;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    text-align: center;
}

.rechercher{
    background-color:var(--main-color) ;
    color: white;
    font-size: 1.1em;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px;
    border: none; 
    font-weight: bold;
    width: auto;
    text-align: center;
    padding: 10px; 
} 

.fa-magnifying-glass{
    color: white;
}

.btnRechercher{
    background-color:var(--main-color) ;
    border-radius: 10px;
    width: 40px;
    border: none;
    display: none;
}

.title-filtre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    /* text-align: center; */
    margin: 1px;
}

.filtres{
    display: flex;
    align-items: flex-start;
    
}

.buttFiltre{
    height: 40px;
    border-radius: 20px;
    border-color: var(--main-bg-color); 
    background-color:transparent ;
    margin: 5px;
    font-weight: bold;
    border: 2px solid var(--main-bg-color);
}

.buttFiltre:hover{
    background-color:var(--filter-bg-color) ;
}

.spaceI{
    margin-right: 5px;
}

.rond{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 20px; 
    background-color: transparent;
    border: 2px solid;
    border-color: var(--main-bg-color);
    margin-right: 5px;
    margin-top: -5px;
}

.info{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

/** input rechercher fin **/
/*** section sous la nav***/

/******** Moi modification fin *********/

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/***** moi hébergement à Marseille *******/
.hebergement{
    height: 33%;
    display: flex;
    flex-direction: row;
}

.hebergements-title{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 1.4rem;
}

.hebergements-card{
    width: 100%;
    height: auto ;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.heber{ 
    margin-bottom: 33px;
    width: 30%;
}

.heber img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 136px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content-herbergement{
    margin-bottom: 10px;
    margin-left: 4px;
}

.card-content-herbergement .card-title{
    margin-top: 10px;
}

.card-content-herbergement .card-subtitle{
    margin-top: 10px;
}

.card-content-herbergement .card-rating{
    margin-top: 10px;
    margin-bottom: 5px;
}

.neutral-star{
    color:var(--main-bg-color) ;
}

.afficher{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 1.2rem;
    
}

.hebergements-card a{
    text-decoration: none;
    color: black;
}
/* moi hébergement à Marseille */



/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activite{
    width: 100%;
}


/**** moi Activité à Marseille *****/
.activites-marseille{
    display: flex;
    flex-direction: column;
    margin-top: 33px;  
} 

.activites-title{
    margin-top: 33px;
    margin-bottom: 33px; 
    display: flex;
   
}

.activites-cards{
    width: 100%;
    height: auto;
    border-radius:15px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    margin-bottom: 50px; 
} 

.activites-content{
    width: 23%;
    height: 450px;
    padding: 0;
}

.activites-content a{
    text-decoration: none;
}

.activites-cards img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 400px;
}

.card-txt-activites{
    color: black;
    margin-top: 15px ;
    margin-left: 20px;
}

/**** moi activité ****/

/***** moi footer *****/

footer{
    background-color: var(--main-bg-color);
    width: 100%;
    height: 150px;
    display: flex;    
}

.section-footer{
    display: flex;
    width: 100%;
}

.articles-footer{
    height: auto;
    width: 33%;
    padding: 20px;
}

.txt-footer li{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.txt-footer a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}


/* moi footer */


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
 
    
    
/* moi */

    body{
        width: 100%;
    }

    .filtres{
       display: block;   
    }

    .filtres h3{
        margin-bottom: 10px;
    }

    .card-content-activites img{
        height: 250px;
        
    }

    .activites-content{
        height: 300px;
       
    }

    .card-txt-activites{
        color: black;
        margin-top: 5px ;
    }
    /* moi */
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    /***** header *****/
    body{
        padding: 0%;
    } 

    .main-container{
       padding: 0 ;
       width: 100%;   
    }

    header{
        width: 100%;
    }

    .logoMenu{
        display: flex;
        flex-direction: column;   
    }

    .barreSearch{
        padding: 0 20px;
    }

    .logoMenu img{
        width: 50px;
        height: auto;  
        margin: 20px auto; 
    }

    .menu{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid var(--main-bg-color);
        margin: 0;
        padding: 0;  
    }

    .navigation .space:hover{
        border-top: none;
    }

    .space{
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .menu .space{
        border-bottom: 2px solid transparent;  
    } 

    .menu .space:hover{
        border-bottom: 2px solid var(--main-color);    
    }
    
    .menu .linkNav{
        margin-bottom: 24px;
       
    }

    .linkNav{
        padding-left: 40px;  
        padding-right: 40px;
        
    }

    .space{
        padding-bottom: 26px;
        margin: 0;
    }
    
    /***** header fin*****/
    

    /***** main *****/

    /** sous-nav **/

    .txtHeberg{
        margin-top: 20px;
    }

    .rechercher{
        display: none;
    }
    
    .btnRechercher{
        display: inline;
    }

    .filtreButtons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title-filtre{
        margin-bottom: 20px;
    }

    .buttFiltre{
        width: 130px;
        margin-left: 5px;
    }

    .info{
        margin-left: 5px;
    }

    /** sous-nav **/
    
    /*** Populaire ***/
    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 10px;
    }
    
    .hebergements-card{
        width: 100%;
    }
    
    .heber{
        width: 100%;
    }

    .populaires-cards{
        display: flex;
        flex-wrap: wrap;
        width: 100%;   
    }

    .populaires-cards .card{
        width: 100%;
        margin-right: 0;
    }

    /*** Populaire fin ***/
    
    /*** Activités Marseille ***/
    
    .section-title{
        margin-top: 20px;
    }

    .activites-marseille{
        width: 100%;
    }

    .activites-cards{
        flex-wrap: wrap;
    }

    .activites-content{
        width:calc(100% - 40px);
        margin-bottom: 10px;
    }

    .activites-marseille{
        padding: 20px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements-and-populaires .hebergements-card{
        background-color: white;
        margin-top: 20px;
    }

    .hebergements-card{
        margin-left: 0;
        padding: 0;
    }

    .hebergements{
        order: 2;
    }
     
    .populaires{
        order: 1;
        margin-bottom: 20px; 
    }

    .card-txt-activites{
        display: flex;
        margin-top: 15px;
    }

    /*** Activités Marseille fin  ***/
    /***** main fin *****/
    /* footer */

    .section-footer{
        flex-wrap: wrap;
        
    }

    .articles-footer{
        width: 100%;
        background-color:var(--main-bg-color);
    }

    /* footer fin */




}
